*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    width: 100px;
    height: 50px;
}

.logo{
    background-image: url("Aspects/amazon_logo.png");
    width: 100%;
    height: 50px;
    background-size: cover;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;

}

.add-sec {
    color: white;
    font-size: 0.89rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;   
}

.nav-search {
    display: flex;
    height: 40px;   
    width: 550px;
    background-color: pink;
    border-radius: 2px;
    justify-content: space-evenly;
}

.search {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none; 
}

.serch-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.nav-search i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    background-color: #febd68;
    font-size: 1.25rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

span {
    font-size: 0.8rem;
}

.nav-sec {
    font-size: 1rem;
    font-weight: 550;
}

.nav-cart i {
    font-size: 1.8rem;
}

.nav-search:hover {
    border: 2px solid orange;
}

.panel {
    background-color: #222f3d;
    height: 39px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.panel-opt p{
    display: inline;
    margin-left: 15px;
}

.panel-opt {
    width: 70%;
    font-size: 0.85rem;
}

.hero-section {
    background-image: url("Aspects/hero_image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg {
    background-color: white;
    height: 25px;
    color: black;
    font-size: 0.85rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    
}

.hero-msg a  {
    color: #007185;
}

.shop-sec {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     background-color: #e2e6e7;
}

.box {
    background-color: white;
    width: 22%;
    height:420px;
    margin: 16px;
}

.box-image {
    height: 300px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

footer {
    margin-top: 15px;

}


.foot-panel {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.foot-panel-2 {
    background-color: #222f3d;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;

}

ul a {
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
}

.foot-panal-3 {
    background-color: #222f3d;
    height: 70px;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("Aspects/amazon_logo.png");
    background-size: cover;
    width: 100px;
    height: 50px;
}

.foot-panal-4 {
    background-color: #0f1111;
    height: 80px;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.pages a{
    color: white;
    margin: 20px;
    text-decoration: none;
}

.copyright {
    padding-top: 5px;
    font-size: 0.7rem;
}